DB_HOST=localhost
DB_PORT=5432
DB_NAME=dados_do_sei
DB_USER=
DB_PASSWORD=

DB_SCHEMA=public
HIST_TABLE=historico
VIEW_TABLE=vw_cessao
FLOW_VIEW_TABLE=vw_cessao_fluxo

EXPECTED_PROCESS_COUNT=56
DURATION_TOLERANCE_DAYS=0.0001
HOURS_TOLERANCE=0.000001
LOCAL_TIMEZONE=America/Maceio

MANUAL_INPUT=conferencia_sei.xlsx
OUTPUT_FILE=validacao_dados_saida.xlsx
